body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, rgb(37, 150, 190), rgb(255, 223, 186));
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    color: white;
    user-select: none;
}

#content {
    position: fixed;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 30vw;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.image-container {
    position: relative;
    display: inline-block;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

#social-icons {
    border-radius: 50%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#social-icons img {
    width: 2rem;
    height: 2rem;
}

#about-me {
    font-size: 1.2rem;
    max-width: 30vw;
}

#image-track > .image-container > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 0% 50%; /* start at the left */
    cursor: pointer;
    transition: object-position 0.6s ease;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(172, 186, 186, 0.711);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1001;
}

#page-number {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    z-index: 1000;
}

#page-number .current {
    font-weight: bold;
}

#enlarged-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1002;
}

#enlarged-view img {
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.5s ease, filter 0.5s ease;
}

#enlarged-view .text-container {
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#enlarged-view .text-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#enlarged-view .text-container p {
    font-size: 1.2rem;
}

#enlarged-view .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
}

.see-more {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 139, 0.7);
    color: white;
    padding: 0.2rem 0.5rem;
    font-family: 'Roboto Mono', monospace;
}

.blinking-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    animation: blink 1s infinite;
    cursor: pointer;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
