body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, rgb(0, 0, 0), rgb(0, 0, 0));
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    color: #E9E4F0;
    user-select: none;
    transition: background 2s ease-in, color 2s ease-in;
    cursor: crosshair;
}

body.light-mode {
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #E9E4F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    transition: background 2s ease-in, color 2s ease-in;
}

#content {
    position: fixed;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 30vw;
    transition: color 2s ease-in; /* Added opacity transition */
    opacity: 1;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.image-container {
    position: relative;
    display: inline-block;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

#social-icons {
    border-radius: 50%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    transition: opacity 1.22s ease-in;
}

#social-icons img {
    width: 2rem;
    height: 2rem;
    transition: opacity 1.22s ease-in;
}

#social-icons img.instant-disappear {
    transition: none; /* Override the existing transition */
}

#about-me {
    font-size: 1.2rem;
    max-width: 30vw;
    /* transition: color 2s ease; */
}

#about-me span {
    color: #3498db;
}


body.light-mode #about-me span {
    color: #c950b3;
}


#image-track > .image-container > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    cursor: crosshair;
    transition: object-position 0.6s ease;
}

#page-number {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    z-index: 1000;
    transition: color 1.2s ease-in;
}

#page-number .current {
    font-weight: bold;
}

#enlarged-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1002;
}

#enlarged-view img {
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.5s ease, filter 0.5s ease;
}

#enlarged-view .text-container {
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#enlarged-view .text-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#enlarged-view .text-container p {
    font-size: 1.2rem;
}

#enlarged-view .close-button {
    position: absolute;
    top: 1vw;
    right: 4vh;
    font-size: 3rem;
    cursor: pointer;
}

.see-more {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #3498db;
    color: #E9E4F0;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

body.light-mode .see-more {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #c950b3;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

#mode-toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1001;
}

#mode-text {
    font-size: 1rem;
    margin-right: 10px;
    color: #E9E4F0;
}

body.light-mode #mode-text {
    color: black;
}

#dark-mode-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    transition: opacity 2s ease-in;
}

.text-fade-out {
    color: transparent !important;
}

.text-fade-in {
    color: black !important;
}

.icon-hidden {
    opacity: 0;
}